{% extends "base.html" %}

{% block content %}

<div class-="row">
    <div class="col-md-8 col-md-offset-2 quiz-box">
        <h1>Quiz - odcinek 2</h1>
        <hr>
         <h6>Wybierz wszystkie poprawne odpowiedzi (możliwy wybór 0-4 odpowiedzi)</h6>
        <h6>Powodzenia!</h6>
        <br>
        <br>

        <form action="" method="POST">
            {% csrf_token %}
            <ol>
                {% for idx, question in quiz_e %}
                    <li> {{ question.question}} </li>
                    {% for ans in question.answers %}
                    <p>
                        <label>
                            <input type="checkbox" name='{{ idx }}' value="{{ans}}">
                            {{ans}}
                        </label>
                    </p>
                    {% endfor %}
                    <hr>
                {% endfor %}
                <input class="btn btn-outline-primary btn-lg btn-block" type="submit" name='submit' value="Sprawdź">
            </ol>
        </form>
    </div>
    <h1>{{ request.session.items}}</h1>
</div>

{% endblock %}
