{% extends "base.html" %}

{% block content %}

<div class="fsdcenter">
    <h3>
        Bibliografia:
    </h3>
    <ul class="p-2">
        <li class="p-1">
            <strong>"Mosty stalowe" - Andrzej Ryżyński, Witold Wołowicki, Jacke Skarżewski, Janusz Karlikowski (1984)</strong>
        </li>
        <li class="p-1">
            Notatki z wykładów prowadzonych przez <a href="https://sin.put.poznan.pl/people/details/wojciech.siekierski" target="_blank"> dr hab. inż. Wojciecha Siekierskiego</a> (2018)
        </li>
        <li class="p-1">
            "Podstawy projektowania budowli mostowych" - Arkadiusz Madaj, Witold Wołowicki (2003)
        </li>
        <li class="p-1">
            "Wprowadzenie do projektowania mostów" - Kazimierz Furtak (1999)
        </li>
        <li>
            <a href="http://chodor-projekt.net/encyclopedia/">chodor-projekt.net</a>
        </li>
    </ul>
</div>


{% endblock %}

