{% extends "base.html" %}

{% block content %}


<div class="fsdcenter">
    <div>
        <h5>Administracja:</h5>
        <div class="m-2">
            <p class='under'>
                Patryk Siepka
            </p>
            <div class="m-3">
                <p><a href="https://www.facebook.com/patryk.siepka">Facebook</a></p>
                <p><a href="https://www.linkedin.com/in/patryksiepka/">Linkedin</a></p>
                <p>Mail:
                    <ul>
                        <li>patryk.siepka17@gmail.com</li>
                        <li>patryksiepka@protonmail.com</li>
                    </ul>
                </p>
                <p>Nr. telefonu </p>
                <p class="p-3"><b>+48 536 986 488</b></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

