{% extends "base.html" %}

{% block content %}
    {% load static %}
            <br>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <a href="{% url 'wyklad1' %}">
                        <div class="slide-container">
                            <img src="{% static 'img/wyklad1.png' %}" alt="" >
                            <p>Podstawowe pojęcia</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a href="{% url 'wyklad2' %}">
                        <div class="slide-container">
                            <img src="../static/img/wyklad2.JPG" alt="" >
                            <p>Systemy statyczne.</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a href="{% url 'wyklad3' %}">
                        <div class="slide-container">
                            <img src="../static/img/wyklad3.JPG" alt=""  >
                            <p>Pomosty.</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a href="{% url 'wyklad4' %}">
                        <div class="slide-container">
                            <img src="../static/img/wyklad4-1.JPG" alt=""  >
                            <p>Stężenia dźwigarów.</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a href="{% url 'wyklad5' %}">
                        <div class="slide-container">
                            <img src="../static/img/wyklad5.jpg" alt=""  >
                            <p>Formy konstrukcyjne przęseł belkowych i ramowych.</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a href="{% url 'wyklad6' %}">
                        <div class="slide-container">
                            <img src="../static/img/wyklad6.jpg" alt=""  >
                            <p>Mosty kratowe.</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a href="{% url 'wyklad7' %}">
                        <div class="slide-container">
                            <img src="../static/img/wyklad7.jpg" alt=""  >
                            <p>Mosty łukowe.</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a href="{% url 'wyklad8' %}">
                        <div class="slide-container">
                            <img src="../static/img/wyklad8.jpg" alt=""  >
                            <p>Mosty zespolone.</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a href="{% url 'wyklad9' %}">
                        <div class="slide-container">
                            <img src="../static/img/wyklad9.jpg" alt=""  >
                            <p>Projektowanie.</p>
                        </div>
                    </a>
                </div>
                <div class="col-12">
                    <a href="{% url 'quiz_list' %}" style="text-decoration:none">
                        <div class="button-quiz-mega">
                            Quizzy
                        </div>
                    </a>
                </div>
            </div>
            <br>
            <br>

{% endblock %}

