{% load static %}
<!doctype html>
<html lang="pl">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- No COMERCIAL ICON !! -->
    <link rel="shortcut icon" href="../static/img/bridge.ico" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" media="screen">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <title>{{ title }}</title>
  </head>
  <body onload="timer();">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark priority">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="../static/img/bridge.jpg" width="50" height="30" alt="" style="margin-right:15px">MOSTY STALOWE
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMS" aria-controls="navbarMS" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse priority" id="navbarMS">
        <ul class="navbar-nav mr-auto submenu">
          <li class="nav-item active dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wykłady <span class="sr-only">(current)</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'wyklad1' %}">Wykład 1</a>
                <a class="dropdown-item" href="{% url 'wyklad2' %}">Wykład 2</a>
                <a class="dropdown-item" href="{% url 'wyklad3' %}">Wykład 3</a>
                <a class="dropdown-item" href="{% url 'wyklad4' %}">Wykład 4</a>
                <a class="dropdown-item" href="{% url 'wyklad5' %}">Wykład 5</a>
          </li>

          <li class="nav-item dropdown priority">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Quizy
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown ">
              <a class="dropdown-item" href="#">Quiz 1</a>
              <a class="dropdown-item" href="#">Quiz 2</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Wyniki</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Bibliografia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Kontakt</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 ">
          <input class="form-control mr-sm-2 disabled" type="search" placeholder="Szukaj" aria-label="Search">
          <button class="btn btn-light my-2 my-sm-0 disabled" type="submit">Szukaj</button>
        </form>
      </div>
    </nav>

    <br>


    <div class="container">
        <div class="row">
            <div class="col-md-11">
              {% block content %}{% endblock %}
            </div>
            <div class="col-md-1">
              <aside>
                  Godzina:
                  </div>
              </aside>
            </div>
        </div>
    </div>



  </body>
</html>